<aside class="lyear-layout-sidebar">

    <!-- logo -->
    <div id="logo" class="sidebar-header">
        <a href="index.html"><img src="http://__url__/static/Admin/images/logo-sidebar.png" title="LightYear" alt="LightYear" /></a>
    </div>
    <div class="lyear-layout-sidebar-scroll">

        <nav class="sidebar-main">
            <ul class="nav nav-drawer">
                <li class="nav-item active"> <a href="index.html"><i class="mdi mdi-home"></i> 后台首页</a> </li>
                <li class="nav-item nav-item-has-subnav">
                    <a href="javascript:void(0)"><i class="mdi mdi-account-multiple"></i>用户·管理</a>
                    <ul class="nav nav-subnav">
                        <li><a href="http://__url__/index.php/admin/user">用户管理设置</a></li>
                    </ul>
                </li>
                <li class="nav-item nav-item-has-subnav">
                    <a href="javascript:void(0)"><i class="mdi mdi-power-plug"></i>接口配置展现</a>
                    <ul class="nav nav-subnav">
                        <li><a href="http://__url__/index.php/admin/goods">接口配置</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

        <div class="sidebar-footer">
            <p class="copyright">Copyright &copy; 2021. <a target="_blank" href="">MY_API</a> All rights reserved.</p>
        </div>
    </div>

</aside>