{include file='./default/admin_mall/head' /}

<body>
    <div class="lyear-layout-web">
        <div class="lyear-layout-container">
            <!--左侧导航-->
            {include file='./default/admin_mall/left_nav' /}
            <!--End 左侧导航-->
            {include file='./default/admin_mall/head_nav' /}
            <!--头部信息-->

            <!--End 头部信息-->

            <!--页面主要内容-->
            <main class="lyear-layout-content">

                <div class="container-fluid">

                    <div class="row">
                        <div class="col-sm-6 col-lg-3">
                            <div class="card bg-primary">
                                <div class="card-body clearfix">
                                    <div class="pull-right">
                                        <p class="h6 text-white m-t-0">今日收入</p>
                                        <p class="h3 text-white m-b-0 fa-1-5x">{$jr_xf} 元</p>
                                    </div>
                                    <div class="pull-left"> <span class="img-avatar img-avatar-48 bg-translucent"><i class="mdi mdi-currency-cny fa-1-5x"></i></span> </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-3">
                            <div class="card bg-danger">
                                <div class="card-body clearfix">
                                    <div class="pull-right">
                                        <p class="h6 text-white m-t-0">用户总数</p>
                                        <p class="h3 text-white m-b-0 fa-1-5x">{$user_num}</p>
                                    </div>
                                    <div class="pull-left"> <span class="img-avatar img-avatar-48 bg-translucent"><i class="mdi mdi-account fa-1-5x"></i></span> </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-3">
                            <div class="card bg-success">
                                <div class="card-body clearfix">
                                    <div class="pull-right">
                                        <p class="h6 text-white m-t-0">Api总数</p>
                                        <p class="h3 text-white m-b-0 fa-1-5x">{$goods_num}</p>
                                    </div>
                                    <div class="pull-left"> <span class="img-avatar img-avatar-48 bg-translucent"><i class="mdi mdi-arrow-down-bold fa-1-5x"></i></span> </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-3">
                            <div class="card bg-purple">
                                <div class="card-body clearfix">
                                    <div class="pull-right">
                                        <p class="h6 text-white m-t-0">总收入</p>
                                        <p class="h3 text-white m-b-0 fa-1-5x">{$income_num} 元</p>
                                    </div>
                                    <div class="pull-left"> <span class="img-avatar img-avatar-48 bg-translucent"><i class="mdi mdi-comment-outline fa-1-5x"></i></span> </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-header">
                                    <h4>近期平台收益</h4>
                                </div>
                                <div class="card-body">
                                    <canvas class="js-chartjs-bars"></canvas>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-header">
                                    <h4>近期平台用户新增</h4>
                                </div>
                                <div class="card-body">
                                    <canvas class="js-chartjs-lines"></canvas>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </main>
            <!--End 页面主要内容-->
        </div>
    </div>

    {include file='./default/admin_mall/js' /}

    <!--图表插件-->
    <script type="text/javascript" src="http://__url__/static/Admin/js/Chart.js"></script>
    <script type="text/javascript">
        $(document).ready(function(e) {
            var $dashChartBarsCnt = jQuery('.js-chartjs-bars')[0].getContext('2d'),
                $dashChartLinesCnt = jQuery('.js-chartjs-lines')[0].getContext('2d');

            var $dashChartBarsData = {
                labels: ['周一', '周二', '周三', '周四', '周五', '周六', '周日'],
                datasets: [{
                    label: '平台收入',
                    borderWidth: 1,
                    borderColor: 'rgba(0,0,0,0)',
                    backgroundColor: 'rgba(51,202,185,0.5)',
                    hoverBackgroundColor: "rgba(51,202,185,0.7)",
                    hoverBorderColor: "rgba(0,0,0,0)",
                    data: [{$z1_xf}, {$z2_xf}, {$z3_xf}, {$z4_xf}, {$z5_xf}, {$z6_xf}, {$z7_xf}]
                }]
            };
            var $dashChartLinesData = {
                labels: ['周一', '周二', '周三', '周四', '周五', '周六', '周日'],
                datasets: [{
                    label: '当日新增人数',
                    data: [{$user_zc1}, {$user_zc2}, {$user_zc3}, {$user_zc4}, {$user_zc5}, {$user_zc6}, {$user_zc7}],
                    borderColor: '#358ed7',
                    backgroundColor: 'rgba(53, 142, 215, 0.175)',
                    borderWidth: 1,
                    fill: false,
                    lineTension: 0.5
                }]
            };

            new Chart($dashChartBarsCnt, {
                type: 'bar',
                data: $dashChartBarsData
            });

            var myLineChart = new Chart($dashChartLinesCnt, {
                type: 'line',
                data: $dashChartLinesData,
            });
        });
    </script>
</body>

</html>