<!DOCTYPE html>

<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>api会员登陆</title>
    <meta name="keywords" content="关键词" />
    <meta name="description" content="描述" />
    <link href="http://__url__/static/Login/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">欢迎回来!</h1>
                                    </div>
                                    <form class="user" action="http://__url__/index.php/index/login" method="post">
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user" id="user_name" name="user_name" required placeholder="请输入账号">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user" id="user_pwd" name="user_pwd" required placeholder="请输入密码">
                                        </div>

                                        <font color="red"></font>
                                        <button type="submit" class="btn btn-primary btn-user btn-block" id="loginsubmit" onClick="javascript:login()">登录</button>
                                        <hr>
                                    </form>
                                    <div id="ts" class="ts" style="color: red;padding: 0;margin: 0;display: none;">
                                        <text style="width: 30%;">温馨提示：</text>
                                        <text id="ts_text" class="ts_text" nasme="ts_text" style="width: 50%;"></text></div>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="http://__url__/index.php/index/login/register">注册账号!</a> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>